<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AssurMaghrebia{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>AssurMaghrebia</h1>
        <nav>
            <a href="/">Accueil</a> |
            <a href="{% url 'sinistre:liste_sinistres' %}">Mes sinistres</a>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Contenu des pages -->
        {% endblock %}
    </main>
    
    <footer>
        <p>© 2025 AssurMaghrebia</p>
    </footer>
</body>
</html>
